<html>
<head>
    <title>Home</title>
</head>
<body>

    <br />


    <table class="table table-light table-bordered table-striped" >
        <thead>
            <tr>
                <th>
                    № 
                </th>
                <th>
                    Ccылки
                </th>
                <th>
                    Примечания
                </th>
            </tr>
           
        </thead>
        <tbody>

            <tr>
                <td>
                    1
                </td>
                <td>
                    <a href="/api/GetStarts?nsalgnp=201">/api/GetStarts?nsalgnp=201</a>
                </td>
                <td>Старт - стр 2 </td>
            </tr>
            <tr>
                <td>2 </td>
                <td>
                    <a href="/api/GetListUnits?clangjap=2">/api/GetListUnits?clangjap=2</a>
                </td>
                <td>Список агрегатов - стр 2 </td>
            </tr>

            <tr>
                <td> 3</td>
                <td>
                    <a href="/api/GetListUnits2?nsalgnp=201">/api/GetListUnits2?nsalgnp=201</a>
                </td>
                <td>? - стр 2 </td>
            </tr>
            <tr>
                <td>4 </td>
                <td>
                    <a href="/api/GetHelp?nsalgnp=201">/api/GetHelp?nsalgnp=201</a>
                </td>
                <td>Тексты программы - стр 2 </td>
            </tr>
            <tr>
                <td>5</td>
                <td>
                    <a href="/api/GetLanguages?language_id=2">/api/GetLanguages?language_id=2</a>
                </td>
                <td>Список всех кодов языков, которые есть в агрегатах (2, 3, 4, 5, 6, 7,8)</td>
            </tr>
            <tr>
                <td>6</td>
                <td>
                    <a href="/api/GetLanguagesDistinct">/api/GetLanguagesDistinct</a>
                </td>
                <td>стр 2</td>
            </tr>
            <tr>
                <td>7</td>
                <td>
                    <a href="/api/GetModelAvtos?ngnp=261">/api/GetModelAvtos?ngnp=261</a>
                </td>
                <td>Список моделей авто - стр 3</td>
            </tr>
            <tr>
                <td>8</td>
                <td>
                    <a href="/api/GetNumberDoors?modelName=ACCORD&ngnp=261">/api/GetNumberDoors?modelName=ACCORD&ngnp=261</a>
                </td>
                <td>Количество дверей выбранной модели  стр 4</td>
            </tr>
            <tr>
                <td>9</td>
                <td>
                    <a href="/api/GetYearIssue?xcardrs=2&cmodnamepc=ACCORD">/api/GetYearIssue?xcardrs=2&cmodnamepc=ACCORD</a>
                </td>
                <td>Год выпуска <br /> Зависит от выбранного зарание количества дверей   стр 5</td>
            </tr>
            <tr>
                <td>10</td>
                <td>
                    <a href="/api/GetTypeModelCodes?xcardrs=2&cmodnamepc=ACCORD&dmodyr=2008">/api/GetTypeModelCodes?xcardrs=2&cmodnamepc=ACCORD&dmodyr=2008</a>
                </td>
                <td>Список кодов типов моделей   стр 5</td>
            </tr>
            <tr>
                <td>11</td>
                <td>
                    <a href="/api/GetArealistForReceivedModelTypes?ngnp=261&hmodtyp=1468,1469,1470,1471,1466,1467">/api/GetArealistForReceivedModelTypes?ngnp=261&hmodtyp=1468,1469,1470,1471,1466,1467</a>
                </td>
                <td>Список Area для полученных типов моделей   стр 6</td>
            </tr>
            <tr>
                <td>12</td>
                <td>
                    <a href="/api/GetArealistForReceivedModelTypes2?cmodnamepc=ACCORD&xcardrs=2&dmodyr=2008&carea=KY">/api/GetArealistForReceivedModelTypes2?cmodnamepc=ACCORD&xcardrs=2&dmodyr=2008&carea=KY</a>
                </td>
                <td>Непонятно но используется для уточнения! стр 6-7</td>
            </tr>
            <tr>
                <td>13</td>
                <td>
                    <a href="/api/GetCheckFor2orMoreEntries?cmodnamepc=ACCORD&xcardrs=2&dmodyr=2008&carea=KY">/api/GetCheckFor2orMoreEntries?cmodnamepc=ACCORD&xcardrs=2&dmodyr=2008&carea=KY</a>
                </td>
                <td>Выбор типов уточненный по Area  стр 7</td>
            </tr>
            <tr>
                <td>14</td>
                <td>
                    <a href="/api/GettypeCheckingOnCmftrepc?cmftrepc=1H&hmodtyp=191,192,193,194,8780,8781,8782,8783,8784">/api/GettypeCheckingOnCmftrepc?cmftrepc=1H&hmodtyp=191,192,193,194,8780,8781,8782,8783,8784</a>
                </td>
                <td>
                    Еще проверка типов на cmftrepc   стр 7
                </td>
            </tr>

            <tr>
                <td>15</td>
                <td>
                    <a href="/api/GetTraceCivicAerodeck?hmodtyp=191,192,193,194,8780,8781,8782,8783,8784">/api/GetTraceCivicAerodeck?hmodtyp=191,192,193,194,8780,8781,8782,8783,8784</a>
                </td>
                <td>
                    Список трансмиссий <br /> Трассировка 'CIVIC AERODECK' <br />  cтр 8
                </td>
            </tr>
            <tr>
                <td>16</td>
                <td>
                    <a href="/api/GetClassOfCarTypeForTheSelectedTransmission?hmodtyp=191,192,193,194,8780,8781,8782,8783,8784">/api/GetClassOfCarTypeForTheSelectedTransmission?hmodtyp=191,192,193,194,8780,8781,8782,8783,8784</a>
                </td>
                <td>
                    Определяется класс типа авто по выбранной трансмиссии  <br />  cтр 8
                </td>
            </tr>
            <tr>
                <td>17</td>
                <td>
                    <a href="/api/GetTypeList2?cmodnamepc=CIVIC AERODECK&dmodyr=1998&xcardrs=5&carea=kg">/api/GetTypeList2?cmodnamepc=CIVIC AERODECK&dmodyr=1998&xcardrs=5&carea=kg</a>
                </td>
                <td>
                    Еще раз список типов стр 9
                </td>
            </tr>
            <tr>
                <td>18</td>
                <td>
                    <a href="/api/GetCarModelInfo?cmodnamepc=CIVIC AERODECK&dmodyr=1998&xcardrs=5&carea=kg">/api/GetCarModelInfo?cmodnamepc=CIVIC AERODECK&dmodyr=1998&xcardrs=5&carea=kg</a>
                </td>
                <td>
                    Информация про модель  стр 9
                </td>
            </tr>
            <tr>
                <td>19</td>
                <td>
                    <a href="/api/GetStrangeRequest?hmodtyp=191,192,193,194,8780,8781,8782,8783,8784&cmftrepc=1H">/api/GetStrangeRequest?hmodtyp=191,192,193,194,8780,8781,8782,8783,8784&cmftrepc=1H</a>
                </td>
                <td>
                    Странный запрос – поле cmftrepc – всегда задано(поменял).   cтр 10
                </td>
            </tr>
            <tr>
                <td>20</td>
                <td>
                    <a href="/api/GetListEquipment?hmodtyp=191,192,193,194,8780,8781,8782,8783,8784">/api/GetListEquipment?hmodtyp=191,192,193,194,8780,8781,8782,8783,8784</a>
                </td>
                <td>
                    Список Equipment  стр 10
                </td>
            </tr>
            <tr>
                <td>21</td>
                <td>
                    <a href="/api/GetFilterTypeAvto?hmodtyp=52,53,54,8316,8317,8030,8045&cmnopt=AB2">/api/GetFilterTypeAvto?hmodtyp=52,53,54,8316,8317,8030,8045&cmnopt=AB2</a>
                </td>
                <td>
                    Запрос фильтрует типы авто  стр 11
                </td>
            </tr>
            <tr>
                <td>22</td>
                <td>
                    <a href="/api/GetFilterTypeAvto2?hmodtyp=52,53,54,8316,8317,8030,8045">/api/GetFilterTypeAvto2?hmodtyp=52,53,54,8316,8317,8030,8045</a>
                </td>
                <td>
                    Затем заново уточняет опции для отфильтрованного списка  стр 11
                </td>
            </tr>
            <tr>
                <td>23</td>
                <td>
                    <a href="/api/GetBlocksSearchByNumber?clangjap=2&npl=17S1E01">/api/GetBlocksSearchByNumber?clangjap=2&npl=17S1E01</a>
                </td>
                <td>
                    Блоки – поиск по номеру    стр 11
                </td>
            </tr>
            <tr>
                <td>24</td>
                <td>
                    <a href="/api/GetBlocksSearchByDeskr?clangjap=2&npl=17S1E01">/api/GetBlocksSearchByDeskr?clangjap=2&npl=17S1E01</a>
                </td>
                <td>
                    Блоки – поиск по описанию  стр 12
                </td>
            </tr>
            <tr>
                <td>25</td>
                <td>
                    <a href="/api/GetBlocksSearchByDeskr?clangjap=2&npl=17S1E01">/api/GetBlocksSearchByDeskr?clangjap=2&npl=17S1E01</a>
                </td>
                <td>
                    Блоки – поиск по описанию   стр 12
                </td>
            </tr>

            <tr>
                <td>26</td>
                <td>
                    <a href="/api/GetSelectionOfSparePartGroup?npl=17S1E01">/api/GetSelectionOfSparePartGroup?npl=17S1E01</a>
                </td>
                <td>
                    Выбор группы запчастей  стр 13
                </td>
            </tr>

            <tr>
                <td>27</td>
                <td>
                    <a href="/api/GetListLargeGroupSpareParts?clangjap=2&npl=17S1E01&hmodtyp=52,53,54,8316,8317,8030,8045">/api/GetListLargeGroupSpareParts?clangjap=2&npl=17S1E01&hmodtyp=52,53,54,8316,8317,8030,8045</a>
                </td>
                <td>
                    Список крупноузловых групп   стр 13
                </td>
            </tr>

            <tr>
                <td>28</td>
                <td>
                    <a href="/api/GetListGrade?hmodtyp=52,53,54,8316,8317,8030,8045">/api/GetListGrade?hmodtyp=52,53,54,8316,8317,8030,8045</a>
                </td>
                <td>
                    Уточнение типов авто   стр 14
                </td>
            </tr>

            <tr>
                <td>29</td>
                <td>
                    <a href="/api/GetListPartsBlocks?clangjap=2&nplgrp=2&npl=17S1E01&hmodtyp=52,53,54,8316,8317,8030,8045">/api/GetListPartsBlocks?clangjap=2&nplgrp=2&npl=17S1E01&hmodtyp=52,53,54,8316,8317,8030,8045</a>
                </td>
                <td>
                    Отобрать блоки запчастей для выбранной крупноузловой группы "pblokt"."nplgrp"  стр 15
                </td>
            </tr>

            <tr>
                <td>30</td>
                <td>
                    <a href="/api/GetListNotes?partslist_number=10">/api/GetListNotes?partslist_number=10</a>
                </td>
                <td style="background-color: red;">
                    Выборка пользовательских примечаний  стр 16  <br /> не работает, таблицы notes Нет в базе???
                </td>
            </tr>
            <tr>
                <td>31</td>
                <td>
                    <a href="/api/GetTypeAvtoForBlockSpareParts?npl=17SV501&nplblk=ATM0200&hmodtyp=52,53,54,8316,8317,8030,8045">/api/GetTypeAvtoForBlockSpareParts?npl=17SV501&nplblk=ATM0200&hmodtyp=52,53,54,8316,8317,8030,8045</a>
                </td>
                <td>
                    Перепроверка типов авто для выбранного блока запчастей   стр 17
                </td>
            </tr>
            <tr>
                <td>32</td>
                <td>
                    <a href="/api/GetListSpareParts?clangjap=2&npl=17SV501&nplblk=ATM0200&hmodtyp=52,53,54,8316,8317,8030,8045">/api/GetListSpareParts?clangjap=2&npl=17SV501&nplblk=ATM0200&hmodtyp=52,53,54,8316,8317,8030,8045</a>
                </td>
                <td>
                    Список запчастей     стр 17
                </td>
            </tr>
            <tr>
                <td>33</td>
                <td>
                    <a href="/api/GetSearchForNumberByPositionInFigure?npl=17S1E01&illustrationnumber=ATM0610&x=770&y=500">/api/GetSearchForNumberByPositionInFigure?npl=17S1E01&illustrationnumber=ATM0610&x=770&y=500</a>
                </td>
                <td>
                    Поиск номера по позиции на рисунке   стр 20
                </td>
            </tr>
            <tr>
                <td>34</td>
                <td>
                    <a href="/api/GetTypeAvtoSelectedSpareParts?clangjap=2&npl=18SS001&nplblk=B__3100&nplpartref=17&npartgenu=9391124210">/api/GetTypeAvtoSelectedSpareParts?clangjap=2&npl=18SS001&nplblk=B__3100&nplpartref=17&npartgenu=9391124210</a>
                </td>
                <td style="background-color: red;">
                    Список типов авто выбранной запчасти  стр 22 <br />
                    не работает - нет таблицы vw_blockpartsmodeltypes
                </td>
            </tr>
            <tr>
                <td>35</td>
                <td>
                    <a href="/api/GetCarInfo?vin=SHHCG7540YU003985">/api/GetCarInfo?vin=SHHCG7540YU003985</a>
                </td>
                <td style="background-color: red;">
                    не работает - нет таблицы car_info  стр 22
                </td>
            </tr>
            <tr>
                <td>36</td>
                <td>
                    <a href="/api/GetJobFrt?job_id=2147483606">/api/GetJobFrt?job_id=2147483606</a>
                </td>
                <td style="background-color: red;">
                    не работает - нет таблицы  job_frt  стр 23
                </td>
            </tr>
            <tr>
                <td>37</td>
                <td>
                    <a href="/api/GetTypeAvtoSelectedSpareParts2?npartgenu=NGKCM6">/api/GetTypeAvtoSelectedSpareParts2?npartgenu=NGKCM6</a>
                </td>
                <td>
                    Получить цену на выбранную запчасть   стр 23
                </td>
            </tr>
            <tr>
                <td>38</td>
                <td>
                    <a href="/api/GetQtySpareParts?clangjap=2&npartgenu=93911242">/api/GetQtySpareParts?clangjap=2&npartgenu=93911242</a>
                </td>
                <td>
                    Существую ли запчасти - количество   стр 24
                </td>
            </tr>
            <tr>
                <td>39</td>
                <td>
                    <a href="/api/GetFindSpareParts?clangjap=2&npartgenu=93911242">/api/GetFindSpareParts?clangjap=2&npartgenu=93911242</a>
                </td>
                <td>
                    Найти запчасти  стр 24
                </td>
            </tr>

            <tr>
                <td>40</td>
                <td>
                    <a href="/api/GetQtyPartDescription?clangjap=2&xpartext=SCREW">/api/GetQtyPartDescription?clangjap=2&xpartext=SCREW</a>
                </td>
                <td> Part Description - стр 25 </td>
            </tr>

            <tr>
                <td>41</td>
                <td>
                    <a href="/api/GetNser?nsalgnp=207">/api/GetNser?nsalgnp=207</a>
                </td>
                <td>получаем количество чего-то  - стр 25 </td>
            </tr>
            <tr>
                <td>42</td>
                <td>
                    <a href="/api/GetAvtoList?npartgenu=93911242&clangjap=2">/api/GetAvtoList?npartgenu=93911242&clangjap=2</a>
                </td>
                <td style="background-color: red;">
                    Список авто, к которым подходит выбранная запасть  <br />
                    Не работает, нет таблицы vw_blockpartsmodeltypes  - стр 27
                </td>
            </tr>
            <tr>
                <td>43</td>
                <td>
                    <a href="/api/GetModelInfoList?cmodnamepc=accord&dmodyr=1990&xcardrs=4&carea=kp&cmftrepc=jh">/api/GetModelInfoList?cmodnamepc=accord&dmodyr=1990&xcardrs=4&carea=kp&cmftrepc=jh</a>
                </td>
                <td>
                    Определить Информация про модель - стр 28
                </td>
            </tr>
            <tr>
                <td>44</td>
                <td>
                    <a href="/api/GetListTypes?cmodnamepc=accord&dmodyr=1990&xcardrs=4&carea=kp">/api/GetListTypes?cmodnamepc=accord&dmodyr=1990&xcardrs=4&carea=kp</a>
                </td>
                <td>  Список типов по выбранным параметрам - стр 29 </td>
            </tr>
            <tr>
                <td>45</td>
                <td>
                    <a href="/api/GetListTypesByParam?NPL=14SNA601">/api/GetListTypesByParam?NPL=14SNA601</a>
                </td>
                <td> Список типов по выбранным параметрам-2     - стр 29 </td>
            </tr>
            <tr>
                <td>46</td>
                <td>
                    <a href="/api/GetListBlock3ByParamAvto?clangjap=2&npl=17SV501&hmodtyp=52,53,54,8316,8317,8030,8045">/api/GetListBlock3ByParamAvto?clangjap=2&npl=17SV501&hmodtyp=52,53,54,8316,8317,8030,8045</a>
                </td>
                <td> Список блоков по выбранным параметрам авто Block3 - стр 29 </td>
            </tr>
            <tr>
                <td>47</td>
                <td>
                    <a href="/api/GetListBlock4ByParamAvto?npl=17SV501&npartgenu=04&clangjap=2&hmodtyp=52,53,54,8316,8317,8030,8045">/api/GetListBlock4ByParamAvto?npl=17SV501&npartgenu=9391124220&clangjap=2&hmodtyp=52,53,54,8316,8317,8030,8045</a>
                </td>
                <td>Отобрать только те блоки в которых будет искомая запчасть для авто выбранного по параметрам - стр 30 </td>
            </tr>
            <tr>
                <td>48</td>
                <td>
                    <a href="/api/GetCheckTypes?npl=17SV501&nplblk=B__3710&hmodtyp=52,53,54,8316,8317,8030,8045">/api/GetCheckTypes?npl=17SV501&nplblk=B__3710&hmodtyp=52,53,54,8316,8317,8030,8045</a>
                </td>
                <td>  Проверка типов - стр 31 </td>
            </tr>
            <tr>
                <td>49</td>
                <td>
                    <a href="/api/GetListSpareParts2?clangjap=2&npl=17SV501&nplblk=B__3710&nplblk=B__3710&hmodtyp=52,53,54,8316,8317,8030,8045">/api/GetListSpareParts2?clangjap=2&npl=17SV501&nplblk=B__3710&nplblk=B__3710&hmodtyp=52,53,54,8316,8317,8030,8045</a>
                </td>
                <td> Список запчастей - стр 31 </td>
            </tr>

            <tr>
                <td>50</td>
                <td>
                    <a href="/api/GetTypesByVin?nfrmpf=JHMED73600S&nfrmseqepcstrt=0S205949&nfrmseqepcend=0S205949">/api/GetTypesByVin?nfrmpf=JHMED73600S&nfrmseqepcstrt=0S205949&nfrmseqepcend=0S205949</a>
                </td>
                <td>    VIN разборка - cтр 34  </td>
            </tr>

            <tr>
                <td>51</td>
                <td>
                    <a href="/api/GetAreaList?hmodtyp=6998,7001,6629,6630,6633,6726,6731,6732,6734,6737,6739,6742,6744,6749,6751,6924,6926,6928,6930&ngnp=261">/api/GetAreaList?hmodtyp=6998,7001,6629,6630,6633,6726,6731,6732,6734,6737,6739,6742,6744,6749,6751,6924,6926,6928,6930&ngnp=261</a>
                </td>
                <td>  Получение списка Area, список для VIN - SHHCG7540YU003985 - cтр 34  </td>
            </tr>

            <tr>
                <td>52</td>
                <td>
                    <a href="/api/GetListCarTypeInfo?nfrmpf=JHMED73600S&nfrmseqepcstrt=0S205949&nfrmseqepcend=0S205949&carea=kg">/api/GetListCarTypeInfo?nfrmpf=JHMED73600S&nfrmseqepcstrt=0S205949&nfrmseqepcend=0S205949&carea=kg</a>
                </td>
                <td>   Информация о типе авто - cтр 35  </td>
            </tr>

            <tr>
                <td>53</td>
                <td>
                    <a href="/api/GetCarModelInfo2?cmodnamepc=CIVIC&dmodyr=1990&xcardrs=3&carea=kg&cmftrepc=jh">/api/GetCarModelInfo2?cmodnamepc=CIVIC&dmodyr=1990&xcardrs=3&carea=kg&cmftrepc=jh</a>
                </td>
                <td>   Информация про модель  - cтр 36  </td>
            </tr>

        </tbody>
    </table>

</body>
</html>
